
  <%-include('./boilerplate/head.ejs') %>

<body>
  <%-include('./boilerplate/navbar.ejs') %>
    <h1>Posts of user's</h1>
   
    <div class="main">
    <% filterData.forEach(row => { %>
  
    <div class="card-h">
      <i class="fa-solid fa-user"></i>
    <span><%= row.users_table.name %></span>
    
    <img class="post-img" src="/uploads/<%= row.post_table.post %>" alt="post image">
      <p class="date">
  <%= new Date(row.post_table.createdAt).toLocaleString('en-IN', {
  timeZone: 'Asia/Kolkata',
  dateStyle: 'medium',
  timeStyle: 'short'
}) %>
    </p>
    <p class="caption"><%= row.post_table.caption %></p>
    <% if(userInfo && userInfo.id===row.post_table.userId){ %>
      <a href="/<%=row.post_table.id %>/update">update the post</a> <br>
       <form action="/<%=row.post_table.id%>/update?_method=DELETE" method="POST" >
        <button>delete</button>
    </form>
      <% } %>
     <i type="button"  class="fa-regular fa-heart like" data-post-id="<%= row.post_table.id %>"></i>
     <i type="button"  class="fa-regular fa-comment " ></i>
     <p class="like-count">Likes:<%= row.post_table.like %></p>

  </div>
 
<% }) %>
</div>

<script src="home.js"></script>
</body>
</html>