
<%-include('./boilerplate/head.ejs') %>
<body>
<%-include('./boilerplate/navbar.ejs') %>
  <div class="profile-header">
    <div class="profile-image">
      <img src="" >
    </div>
    <div class="profile-info">
      <div class="username">@<%=userInfo.name%></div>
      <div class="bio">This is your bio. 🌟 Share your story here.</div>
    </div>
    <div>
     <a href="/<%= userInfo.id %>/post">Create a Posts</a>

    </div>
  </div>

  <div class="highlights">
    <div class="highlight">Story 1</div>
    <div class="highlight">Story 2</div>
    <div class="highlight">Story 3</div>
    <div class="highlight">+</div>
  </div>


  
   <% if(data.length>0){%>
    <div class="post-grid">
        <% for (const el of data) { %>
    <img src="/uploads/<%= el.post %>" alt="Post">
    </div>
  <% }%>
    <% } else{%>
     <p>There is no post......</p>
    <% }%>
    <div>
   
</div>


</body>
</html>
